<!--Force IE6 into quirks mode with this comment tag-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>BibleBlast - First United Methodist Church of Tulsa</title>
<style type="text/css" media="print">
    body
	{
		padding: 0;
		margin: 0;
		background-color: #666;
		color: #000;
		height: 100%;
	}
	
	#contents	
	{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 12%;
		margin-right: 12%;
		padding: 10px;
		background-color: #FFF;
		color: #000;
		height: 100%;
	}
	
	#side-menu
	{
		display: none;
	    position: absolute;
	    top: 1%;
	    right: 1%;
	    color: White;
	    text-align: right;
	}
	
	h1	
	{
		color: #333;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
	}
	
	p	
	{
		color: #333;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
	}
	
	.code
	{
		color: #339;
		background-color: transparent;
		font-family: times, serif;
		font-size: 0.9em;
		padding-left: 40px;
	}
	
	a
	{
		color: Maroon;
	}
	
	.site-info
	{
		display: none;
		font-size: smaller;
	}
	
	.print-info
	{
		font-size: smaller;
	}
	
</style>
<style type="text/css" media="screen">
	body
	{
		padding: 0;
		margin: 0;
		background-color: #666;
		color: #000;
		height: 100%;
	}
	
	#contents	
	{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 12%;
		margin-right: 12%;
		padding: 10px;
		background-color: #FFF;
		color: #000;
		height: 100%;
	}
	
	#side-menu
	{
	    position: absolute;
	    top: 1%;
	    right: 1%;
	    color: White;
	    text-align: right;
	}
	
	h1	
	{
		color: #333;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
	}
	
	p	
	{
		color: #333;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
	}
	
	.code
	{
		color: #339;
		background-color: transparent;
		font-family: times, serif;
		font-size: 0.9em;
		padding-left: 40px;
	}
	
	a
	{
		color: Maroon;
	}

    .site-info
	{
		font-size: smaller;
	}
	
	.print-info
	{
		display: none;
		font-size: smaller;
	}
	
/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#contents .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#contents .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
    background-color: #5D7B9D;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#contents .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#contents .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    background-color: #F7F6F3;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
</style>
</head>

<body>
    <form id="form1" runat="server">
        <div id="contents">
            <div>
                <center>
                    <h1>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </h1>
                </center>
            </div>
            <div>
                <p>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                    </asp:ContentPlaceHolder>
                </p>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
        <div id="side-menu">
            <asp:LoginName ID="LoginName1" runat="server"/>
            <br />
            <asp:LoginStatus ID="LoginStatus1" runat="server" />
            <br /><br />
            <asp:HyperLink ID="hlHome" runat="server" NavigateUrl="~/Default.aspx">Home</asp:HyperLink>
            <br /><br />
            <asp:HyperLink ID="hlSearch" runat="server" NavigateUrl="~/search.aspx">Search</asp:HyperLink>
            <br />
            <asp:LoginView ID="LoginView1" runat="server">
                <LoggedInTemplate>
                    <hr /><br />
                    <asp:HyperLink ID="hlAwards" runat="server" NavigateUrl="~/Awards.aspx">Awards List</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlAwardsThisYear" runat="server" NavigateUrl="~/YearAwards.aspx">This Year's<br />Awards List</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlToday" runat="server" NavigateUrl="~/Today.aspx">Today's<br />Overview</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlEditQuestions" runat="server" NavigateUrl="~/EditQuestions.aspx">Edit<br />Questions</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlEditEnrollment" runat="server" NavigateUrl="~/EditEnrollment.aspx">Program<br />Enrollment</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlAddUser" runat="server" NavigateUrl="~/AddUser.aspx">Add Site User</asp:HyperLink>
                    <br /><br />
                    <asp:HyperLink ID="hlEditAwards" runat="server" NavigateUrl="~/EditAwards.aspx">Award<br />Requirements</asp:HyperLink>
                </LoggedInTemplate>
            </asp:LoginView>
        </div>
        <div style="clear: both; bottom: 1px; color: White; text-align: center; width: 100%;">
            <center>
                <span class="site-info">
                    This site was designed to be viewed in high resolutions<a href="http://www.biblegateway.com/passage/?search=James 2:14-26;&version=9;" target="_blank" style="text-decoration: none; color: White;">.</a>
                    &nbsp;&nbsp;
                    The screen layout requires a resolution of at least 1280 x 1024 to be viewed properly<a href="http://www.biblegateway.com/passage/?search=2 Timothy 3:15;&version=31;" target="_blank" style="text-decoration: none; color: White;">.</a>
                    <br />
                    <span style="font-weight: bold;">This site was designed with <a href="http://www.firefox.com" style="color: Silver;">Firefox</a> in mind<a href="http://www.biblegateway.com/passage/?search=Colossians 3:20;&version=31;" target="_blank" style="text-decoration: none; color: White;">.</a></span>
                    <br />
                </span>
                <span class="print-info">
                    This page printed on <%=now.ToShortDateString %> at <%=Now.ToShortTimeString%>.
                </span>
                <h6>
                    2008 <a href="http://www.biblegateway.com/passage/?search=Ephesians 6:4;&version=9;" target="_blank" style="text-decoration: none; color: White;">-</a><a href="http://www.biblegateway.com/passage/?search=Deuteronomy 6:1-8;&version=9;" target="_blank" style="text-decoration: none; color: White;">-</a> All Rights Reserved
                </h6>
            </center>
        </div>
    </form>
</body>
</html>
