<div class="card my-2">
    <div class="card-body">
        <h4 class="card-title text-primary">{{category.categoryName}}</h4>
        <h5 class="card-title text-secondary">Completed Memory Items</h5>

        <div *ngFor="let kidMemory of category.kidMemories">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="colgroup" colspan="3">{{kidMemory.firstName}} {{kidMemory.lastName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let memory of kidMemory.completed">
                        <td>{{memory.memoryName}}</td>
                        <td>{{memory.memoryDescription}}</td>
                        <td class="text-right">{{memory.dateCompleted | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <app-award-list-earned [awards]=awards></app-award-list-earned>
    </div>
</div>