<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">{{category.categoryName}}</h5>

        <div *ngFor="let kidMemory of category.memories">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="3">{{kidMemory.firstName}} {{kidMemory.lastName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let memory of kidMemory.completed">
                        <td>{{memory.memoryName}}</td>
                        <td>{{memory.memoryDescription}}</td>
                        <td class="text-right">{{memory.dateCompleted | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>