<div class="d-flex justify-content-between">
  <h3>Kids</h3>
  <div>
    <button class="btn btn-primary mr-2" type="button" (click)="openEdit({})">New</button>
    <button class="btn btn-secondary" type="button" (click)="openSearch()">Search</button>
  </div>
</div>

<div *ngIf="!user" class="d-flex justify-content-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="user">
  <ul class="list-group mt-2">
    <li *ngFor="let kid of user.kids" class="list-group-item d-flex justify-content-between" (click)="openEdit(kid)">
      {{kid.firstName}} {{kid.lastName}}
      <div class="float-right">
        <span class="badge badge-pill mr-2"
          [ngClass]="kid.isActive ? 'badge-success' : 'badge-danger'">{{kid.isActive ? 'Active' : 'Inactive'}}
        </span>
      </div>
    </li>
  </ul>

  <div class="lead" *ngIf="!user.kids || user.kids.length === 0">User has no kids.</div>
</div>