<div class="card mb-4 shadow-sm" (click)="navigateToDetail()">
  <div class="card-body p-4 kid-detail">
    <h5 class="card-title text-center mb-1">
      {{kid.firstName}} {{kid.lastName}}
    </h5>
    <p class="card-text text-muted text-center">Grade: {{kid.grade | uppercase}}<br />Total points:
      {{this.totalPoints}}</p>
    <div class="mb-2 text-dark">
      <progressbar max="max" [value]="totalPoints" type="success"><span class="text-nowrap p-1">{{this.totalPoints}} /
          {{this.max}}</span></progressbar>
    </div>
    <div class="card-text row" *ngFor="let category of this.kidService.memoryCategories">
      <div class="col">{{category.name}}</div>
      <div class="col-3 text-center">{{this.totalMemories(category.id)}}</div>
    </div>
  </div>
</div>