<div class="card mb-4 shadow-sm" (click)="navigateToDetail()">
  <div class="card-body p-4 kid-detail">
    <h5 class="card-title text-center mb-1">
      {{kid.firstName}} {{kid.lastName}}
    </h5>
    <p class="card-text text-muted text-center">
      Points earned: {{this.totalPoints}} <br />
      Memory items completed: {{this.totalCompleteMemories}}
    </p>

    <div class="mb-2 text-dark">
      <progressbar [max]="max" [value]="totalCompleteMemories" type="success"><span
          class="text-nowrap p-1">{{this.totalCompleteMemories}} / {{this.max}}</span></progressbar>
    </div>

    <div>
      <div class="card-text row" *ngFor="let category of this.memoryCategories">
        <div class="col">{{category.categoryName}}</div>
        <div class="col-4 text-right">
          <span class="badge badge-secondary">{{this.completedMemories(category.categoryId)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>