<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">FUMC Bible Blast</a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <div *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <a class="nav-item nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
        <i class="fa fa-check-square" aria-hidden="true"></i> Completed Items</a>
      <a class="nav-item nav-link" [routerLink]="['/kids']" routerLinkActive="active">
        <i class="fa fa-child" aria-hidden="true"></i> Kids</a>
      <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="active" *appHasRole="['Coach','Admin']">
        <i class="fa fa-group" aria-hidden="true"></i> Users</a>
      <a class="nav-item nav-link" [routerLink]="['/admin']" routerLinkActive="active" *appHasRole="['Admin']">
        <i class="fa fa-cog" aria-hidden="true"></i> Admin</a>
    </div>

    <div *ngIf="isLoggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.currentUser?.firstName || authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/profile']">
          <i class="fa fa-user-circle" aria-hidden="true"></i> Edit Profile
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
      </div>
    </div>

    <form *ngIf="!isLoggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
        [(ngModel)]="loginModel.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
        [(ngModel)]="loginModel.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>