<div class="modal-header">
  <h4 class="modal-title pull-left">Reset Password</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="passwordForm" (ngSubmit)="save()" id="passwordForm">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': passwordForm.get('password').errors 
            && passwordForm.get('password').touched}" placeholder="Password">
      <div class="invalid-feedback" *ngIf="passwordForm.get('password').hasError('required')">
        Password is required
      </div>
      <div class="invalid-feedback">
        Password must be at least 8 characters
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': passwordForm.get('confirmPassword').errors 
            && passwordForm.get('confirmPassword').touched
            || passwordForm.get('confirmPassword').touched
            && passwordForm.hasError('mismatch')}" placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="passwordForm.get('confirmPassword').hasError('required')">
        Password is required
      </div>
      <div class="invalid-feedback">
        Passwords must match
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit" class="btn btn-success" form="passwordForm"
    [disabled]="!passwordForm.valid || !passwordForm.dirty">Save</button>
</div>