<div class="container">
  <div class="row justify-content-center">
    <form class="col-md-6" [formGroup]="editForm" (ngSubmit)="saveUser()">
      <div class="form-group">
        <button class="btn btn-light" type="button" (click)="goBack()"><i class="fa fa-chevron-circle-left"
            aria-hidden="true"></i> Back</button>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid': editForm.get('username').errors 
          && editForm.get('username').touched}" placeholder="Username">
        <div class="invalid-feedback">Please choose a username</div>
      </div>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': editForm.get('firstName').errors 
          && editForm.get('firstName').touched}" placeholder="First name">
        <div class="invalid-feedback">First name is required</div>
      </div>

      <div class=" form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid': editForm.get('lastName').errors 
          && editForm.get('lastName').touched}" placeholder="Last name">
        <div class="invalid-feedback">Last name is required</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': editForm.get('email').errors
          && editForm.get('email').touched}" placeholder="Email address">
        <div class="invalid-feedback">Invalid email address</div>
      </div>
      
      <div class="form-group">
        <label for="phoneNumber">Phone</label>
        <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone number">
      </div>

      <div class="form-group">
        <label for="userRole">Role</label>
        <select class="form-control" formControlName="userRole">
          <option *ngFor="let role of roleSelectList" [ngValue]="role">{{role}}</option>
        </select>
      </div>

      <div class="form-group" *appHasRole="['Admin']">
        <label for="organization">Organization</label>
        <select class="form-control" formControlName="organization" [compareWith]="sameId">
          <option *ngFor="let org of orgSelectList" [ngValue]="org">{{org.name}}</option>
        </select>
      </div>

      <div *ngIf="!user.id">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': editForm.get('password').errors 
            && editForm.get('password').touched}" placeholder="Password">
          <div class="invalid-feedback" *ngIf="editForm.get('password').hasError('required')">
            Password is required
          </div>
          <div class="invalid-feedback">
            Password must be at least 8 characters
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': editForm.get('confirmPassword').errors 
            && editForm.get('confirmPassword').touched
            || editForm.get('confirmPassword').touched
            && editForm.hasError('mismatch')}" placeholder="Confirm Password">
          <div class="invalid-feedback" *ngIf="editForm.get('confirmPassword').hasError('required')">
            Password is required
          </div>
          <div class="invalid-feedback">
            Passwords must match
          </div>
        </div>
      </div>

      <div class="float-left">
        <button class="btn btn-success mr-2" type="submit" [disabled]="!editForm.valid || !editForm.dirty">Save</button>
        <button class="btn btn-warning" type="button" (click)="resetPassword()" *ngIf="user.id">Reset Password</button>
      </div>
      <div class="float-right">
        <button class="btn btn-danger" type="button" (click)="deleteUser()" *ngIf="user.id">Delete</button>
      </div>
    </form>
  </div>

  <div *ngIf="user.id" class="my-4 mx-md-5 p-4 border shadow">
    <app-user-kid-list [user]="user"></app-user-kid-list>
  </div>
</div>