<h1>{{kid.firstName}} {{kid.lastName}}</h1>
<accordion [closeOthers]="true">
  <accordion-group class="mb-1" *ngFor="let cat of memoriesByCategory" [heading]="heading(cat)" [isOpen]="isOpen(cat)">
    <table class="table table-sm shadow">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Memory Item</th>
          <th scope="col">Date Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let memory of cat.memories">
          <td class="text-center"><i class="fa fa-check text-success" *ngIf=isComplete(memory.id)></i></td>
          <td>{{memory.name}} {{memory.description}}</td>
          <td>{{getCompletedDate(memory.id) | date}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-right">{{getCompletedCountByCategory(cat.id)}}/{{cat.memories.length}}</td>
        </tr>
      </tfoot>
    </table>
  </accordion-group>
</accordion>