<div class="row">
  <div class="col">
    <h1>{{kid.firstName}} {{kid.lastName}}</h1>
  </div>
  <div class="col text-right">
    <button class="btn btn-light mr-2" type="button" (click)="router.navigate(['/kids'])"><i
        class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
    <button *appHasRole="['Coach','Admin']" class="btn btn-success" (click)="updateKidMemories()">Save</button>
  </div>
</div>

<accordion [closeOthers]="true">
  <accordion-group class="mb-1" *ngFor="let category of memoriesByCategory">
    <div accordion-heading class="memory-category">
      <div class="row">
        <div class="col">
          <span class="category-name">{{category.name}}</span>
        </div>
        <div class="col text-right">
          <span class="badge badge-secondary">{{getBadgeText(category.memories)}}</span>
        </div>
      </div>
    </div>

    <app-kid-memory-category [kidMemoryCategory]="category" (kidMemoryChanged)="handleKidMemoryChanged($event)">
    </app-kid-memory-category>
  </accordion-group>
</accordion>